In [58]:
import pandas as pd
import numpy as np
import json 
import ast

In [59]:
movies_data = pd.read_csv("movies_dataset.csv")
movies_data.head()

C:\Users\ROG BY NG\AppData\Local\Temp\ipykernel_5876\1660679691.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_data = pd.read_csv("movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

*Visualizacion Nombre de Columnas*

In [60]:
movies_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

*Descripcion del Dataset*

##	Descripción De Columnas

**adult:**	Indica si la película tiene califiación X, exclusiva para adultos.

**belongs_to_collection:** Un diccionario que indica a que franquicia o serie de películas pertenece la película.

**budget:**	El presupuesto de la película, en dólares.

**genres:**	Un diccionario que indica todos los géneros asociados a la película.

**homepage:**	La página web oficial de la película.

**id:**	ID de la pelicula.

**imdb_id:**	IMDB ID de la pelicula.

**original_language:**	Idioma original en la que se grabo la pelicula.

**original_title:**	Titulo original de la pelicula.

**overview:**	Pequeño resumen de la película.

**popularity:**	Puntaje de popularidad de la película, asignado por TMDB (TheMoviesDataBase).

**poster_path:**	URL del póster de la película.

**production_companies:**	Lista con las compañias productoras asociadas a la película.

**production_countries:**	Lista con los países donde se produjo la película.

**release_date:**	Fecha de estreno de la película.

**revenue:**	Recaudación de la pelicula, en dolares.

**runtime:**	Duración de la película, en minutos.

**spoken_languages:**	Lista con los idiomas que se hablan en la pelicula.

**status:** 	Estado de la pelicula actual (si fue anunciada, si ya se estreno, etc).

**tagline:** Frase celebre asociadaa la pelicula.

**title:** Titulo de la pelicula.

**video:** Indica si hay o no un trailer en video disponible en TMDB.

**vote_average:** Puntaje promedio de reseñas de la pelicula.

**vote_count:**	 Numeros de votos recibidos por la pelicula, en TMDB.

In [61]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Elimar filas vacias

In [62]:
movies_data.drop([35587,19730,29503], axis=0, inplace=True)

Cambiar tipo de obj a int

In [63]:
movies_data['id'] = movies_data['id'].astype(int)

Visulaizar duplicados

In [64]:
print( movies_data.id.duplicated().sum())

30

Eliminar duplicados

In [65]:
movies_data.drop_duplicates(subset='id',keep="first" ,inplace=True)

1.  Eliminar las columnas que no serán utilizadas, video, imdb_id, adult, original_title, poster_path y homepage.

In [66]:
movies_data.drop(["video", "imdb_id","adult", "original_title", "poster_path", "homepage"], axis = 1, inplace = True)

2. Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [67]:
movies_data.budget.fillna(0,inplace=True)
movies_data.revenue.fillna(0, inplace=True)

3.  Los valores nulos del campo release date deben eliminarse.

In [68]:
movies_data.dropna(subset=["release_date"], inplace=True)
movies_data.reset_index(drop=True, inplace=True) # Restablece el índice en un orden secuencial y modifica el DataFrame original

4. De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [69]:

movies_data.release_date=pd.to_datetime(movies_data['release_date'], format='%Y-%m-%d', errors='coerce')# Convertir columna en formato datetime

movies_data["release_year"]=movies_data.release_date.dt.year#Extarer año de la columna release_date

movies_data.reset_index(drop=True,inplace=True) # reiniciar index

movies_data.dropna(subset=['release_date'], inplace=True) # eliminar filas con errores

movies_data['release_year'] = movies_data['release_year'].astype(int, errors = 'raise')##Cambiar tipo de dato a int

Visualizar cambios en el dataframe

In [70]:
movies_data.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995

5.  Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [71]:
movies_data['budget'] = movies_data['budget'].astype(float) # Convertir,formato de columna tipo float

In [72]:
movies_data['return'] = movies_data['revenue'] / movies_data['budget'] #Crear columna return con el calculo retorno de la inversion
movies_data['return'].fillna(0, inplace=True)# Reemplaza los valores NaN (no disponibles) con 0

6. Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

In [73]:
def convert_diccionario(diccionario):## Function to eval row datatype=dictionary and then extract it
    if isinstance(diccionario,str) and "{" in diccionario:
        dic=ast.literal_eval(diccionario)
        return dic["name"]

In [74]:
movies_data["belongs_to_collection"]=movies_data["belongs_to_collection"].apply(convert_diccionario)## Apply dictionary function

In [75]:
movies_data["belongs_to_collection"]

0                  Toy Story Collection
1                                  None
2             Grumpy Old Men Collection
3                                  None
4        Father of the Bride Collection
                      ...
45341                              None
45342                              None
45343                              None
45344                              None
45345                              None
Name: belongs_to_collection, Length: 45346, dtype: object

In [76]:
#Production_companies => List

In [77]:
def convert_lista(lista):## Función para evaluar la fila tipo de datos = lista y luego extraerla
    if isinstance(lista, str) and "{" in lista:
        L=[]
        for i in ast.literal_eval(lista):
            L.append(i["name"])
        return L

In [78]:
movies_data["production_companies"]=movies_data["production_companies"].apply(convert_lista)## Apply list function
movies_data["genres"]=movies_data["genres"].apply(convert_lista)
movies_data["production_countries"]=movies_data["production_countries"].apply(convert_lista)

In [79]:
movies_data["spoken_languages"]=movies_data["spoken_languages"].apply(convert_lista)

In [80]:
movies_data.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,inf

In [81]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45346 entries, 0 to 45345
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4485 non-null   object
 1   budget                 45346 non-null  float64
 2   genres                 42962 non-null  object
 3   id                     45346 non-null  int32
 4   original_language      45335 non-null  object
 5   overview               44405 non-null  object
 6   popularity             45346 non-null  object
 7   production_companies   33557 non-null  object
 8   production_countries   39138 non-null  object
 9   release_date           45346 non-null  datetime64[ns]
 10  revenue                45346 non-null  float64
 11  runtime                45100 non-null  float64
 12  spoken_languages       41580 non-null  object
 13  status                 45266 non-null  object
 14  tagline                20387 non-null  object
 15  title                  45346 non-null  object
 16  vote_average           45346 non-null  float64
 17  vote_count             45346 non-null  float64
 18  release_year           45346 non-null  int32
 19  return                 45346 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(2), object(11)
memory usage: 6.6+ MB

In [82]:
movies_data.to_csv("MOVIES_ETL.csv")

Prueba: importar y visualizar

In [83]:
Prueba = pd.read_csv("MOVIES_ETL.csv", )
Prueba

,Unnamed: 0,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],...,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],...,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],...,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],...,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,4,Father of the Bride Collection,0.0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],...,76578911.0,106.0,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45341,45341,NaN,0.0,"['Drama', 'Action', 'Romance']",30840,en,"Yet another version of the classic epic, with ...",5.683753,"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite...",...,0.0,104.0,['English'],Released,NaN,Robin Hood,5.7,26.0,1991,0.000000
45342,45342,NaN,0.0,['Drama'],111109,tl,An artist struggles to finish his work while a...,0.178241,['Sine Olivia'],['Philippines'],...,0.0,360.0,[''],Released,NaN,Century of Birthing,9.0,3.0,2011,0.000000
45343,45343,NaN,0.0,"['Action', 'Drama', 'Thriller']",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,['American World Pictures'],['United States of America'],...,0.0,90.0,['English'],Released,A deadly game of wits.,Betrayal,3.8,6.0,2003,0.000000
45344,45344,NaN,0.0,NaN,227506,en,"In a small town live two brothers, one a minis...",0.003503,['Yermoliev'],['Russia'],...,0.0,87.0,NaN,Released,NaN,Satan Triumphant,0.0,0.0,1917,0.000000
45345,45345,NaN,0.0,NaN,461257,en,50 years after decriminalisation of homosexual...,0.163015,NaN,['United Kingdom'],...,0.0,75.0,['English'],Released,NaN,Queerama,0.0,0.0,2017,0.000000