In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
import unicodedata
from ast import literal_eval
import numpy as np

Importamos csv

In [2]:
df_1 = pd.read_csv("DATA_EDA.csv",  index_col=0)

In [25]:
df1 = df_1[["title","overview" ]]

In [18]:
df1

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...
45340,Robin Hood,"Yet another version of the classic epic, with ..."
45341,Century of Birthing,An artist struggles to finish his work while a...
45342,Betrayal,"When one of her hits goes wrong, a professiona..."
45343,Satan Triumphant,"In a small town live two brothers, one a minis..."
45344,Queerama,50 years after decriminalisation of homosexual...

dar formato y convertor los valores de las columnas

In [26]:
df1.title = df1.title.str.lower()# convierte todos los títulos a minúsculas
df1.overview = df1.overview.str.replace(" ","")# elimina los espacios en blanco
def safe_literal_eval(value):#función verifica si el valor es una cadena no nula 
    if isinstance(value, str) and not pd.isna(value):#garantiza que no se produzca un error al evaluar los valores nan 
        return literal_eval(value)
    return []
#df1.genres = df1.genres.apply(safe_literal_eval)  # Establecer el tipo de datos correcto en la columna genres
#df1["features"] = df1.genres  # crea una nueva columna

C:\Users\ROG BY NG\AppData\Local\Temp\ipykernel_12256\3573446107.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.title = df1.title.str.lower()# convierte todos los títulos a minúsculas
C:\Users\ROG BY NG\AppData\Local\Temp\ipykernel_12256\3573446107.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.overview = df1.overview.str.replace(" ","")# elimina los espacios en blanco

Conseguir una sopa de letras

In [ ]:
#df1['genres'] = df1['genres'].apply(lambda x: ' '.join(x))  # Unir elementos de "genres"
#df1['features'] = df1['genres'] + ' ' + df1['overview']  # Unir elementos de "genres" y "overview" en la columna "features"(caracteristicas)

In [27]:
#df1 = df1.sort_values("popularity", ascending=False)  # Ordenar por popularidad en orden descendente
#df1.drop(["genres", "overview", "popularity"], inplace=True, axis=1)  # Eliminar columnas que no se utilizarán en el modelo de ML
df1["overview"] = df1["overview"].str.lower()  # Normalizar los valores  a minúsculas
df1.dropna(subset=["overview"], inplace=True) #Elimino filas vacias
df1.reset_index(drop=True, inplace=True)  # Restablecer el índice del DataFrame

C:\Users\ROG BY NG\AppData\Local\Temp\ipykernel_12256\156223916.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["overview"] = df1["overview"].str.lower()  # Normalizar los valores  a minúsculas
C:\Users\ROG BY NG\AppData\Local\Temp\ipykernel_12256\156223916.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset=["overview"], inplace=True) #Elimino filas vacias

In [21]:
df1.head(10)

,title,overview
0,toy story,"ledbywoody,andy'stoyslivehappilyinhisroomuntil..."
1,jumanji,whensiblingsjudyandpeterdiscoveranenchantedboa...
2,grumpier old men,afamilyweddingreignitestheancientfeudbetweenne...
3,waiting to exhale,"cheatedon,mistreatedandsteppedon,thewomenareho..."
4,father of the bride part ii,justwhengeorgebankshasrecoveredfromhisdaughter...
5,heat,"obsessivemasterthief,neilmccauleyleadsatop-not..."
6,sabrina,anuglyducklinghavingundergonearemarkablechange...
7,tom and huck,"amischievousyoungboy,tomsawyer,witnessesamurde..."
8,sudden death,internationalactionsuperstarjeanclaudevandamme...
9,goldeneye,jamesbondmustunmaskthemysteriousheadofthejanus...

Exportar conjunto de datos para datos de entrenamiento de ML

In [28]:
df1.to_csv("API1_fucnion7.csv")#exportar dataset

In [29]:
df = pd.read_csv("API1_fucnion7.csv", index_col=0)

In [30]:
df

,title,overview
0,toy story,"ledbywoody,andy'stoyslivehappilyinhisroomuntil..."
1,jumanji,whensiblingsjudyandpeterdiscoveranenchantedboa...
2,grumpier old men,afamilyweddingreignitestheancientfeudbetweenne...
3,waiting to exhale,"cheatedon,mistreatedandsteppedon,thewomenareho..."
4,father of the bride part ii,justwhengeorgebankshasrecoveredfromhisdaughter...
...,...,...
44399,robin hood,"yetanotherversionoftheclassicepic,withenoughva..."
44400,century of birthing,anartiststrugglestofinishhisworkwhileastorylin...
44401,betrayal,"whenoneofherhitsgoeswrong,aprofessionalassassi..."
44402,satan triumphant,"inasmalltownlivetwobrothers,oneaministerandthe..."
44403,queerama,50yearsafterdecriminalisationofhomosexualityin...

In [57]:
def recomendacion(titulo: str):
    '''Ingresas un nombre de película y te recomienda las similares en una lista'''
    
    ml = pd.read_csv('API1_fucnion7.csv')#limportar csv
    ml = df.head(10000)  # Utilizar una muestra debido al costo computacional excesivo si se utiliza todo el conjunto de datos
    
    tfidf = TfidfVectorizer(stop_words="english")# Configurar el vectorizador tf-idf con palabras comunes en inglés
    ml[ "overview"] = ml[ "overview"].fillna("") #rellenar nulos
    

    # Crear la matriz tf-idf con los datos de las características de las películas
    tfidf_matrix = tfidf.fit_transform(ml["overview"])

    # Calcular la matriz de similitud coseno utilizando el kernel lineal
    cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
    
    indices = pd.Series(ml.index, index=ml["title"]).drop_duplicates()

    idx = indices[titulo] # Buscar el índice de la película en el dataset
    
    # Obtener los puntajes de similitud de la película encontrada con todas las demás películas
    sim_scores = list(enumerate(cosine_sim[idx]))
        # Ordenar los puntajes de similitud en orden descendente
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Obtener los índices de las películas más similares (excluyendo la película de entrada)
    sim_scores = sim_scores[1:6]
    movies_indices = [i[0] for i in sim_scores]
    
    
    
    recommendations = ml['title'].iloc[movies_indices].to_list()[:5]

    return {'lista_recomendada': recommendations}

In [67]:
recomendacion("jumanji")

{'lista_recomendada': ['jumanji',
  'grumpier old men',
  'waiting to exhale',
  'father of the bride part ii',
  'heat']}